.df {
    display: flex;
}
.df-c {
    display: flex;
    justify-content: center;
}
.df-sb {
    display: flex;
    justify-content: space-between;
}
.align-c {
    align-items: center;
}
.mt15{
    margin-top: 15px;
}
.mt30 {
    margin-top: 30px;
}
.mt10 {
    margin-top: 10px;;
}
